doctype html
html(lang='pt-br')
  head
    // META
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='findcep')
    meta(name='template', content='droitthemes')
    meta(name='description', content='Localize rapidamente o endereço/CEP de seus clientes, CEP correios mensalmente atualizado')
    meta(name='keywords', content='api cep, busca cep, pesquisa cep, webservice cep, api ibge, webservice ibge, cep para e-commerce, cep para site, cep da rua, cep por bairro, codigo ibge, geocoordenadas, data base correios, tabela cep correios')
    meta(name='robots', content='INDEX,FOLLOW')
    // SITE TITLE
    title CEP API | FindCEP

    // FAVICON - **WAIT** DESIGN
    link(rel='shortcut icon', type='image/x-icon', href='images/Favicon_app.png')
    //meta(content='img/icone-findcep.png', itemprop='image')
    //link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')

    // Bootstrap CSS
    link(rel='stylesheet', href='_saas/css/bootstrap.min.css')
    link(rel='stylesheet', href='_saas/vendors/bootstrap-selector/css/bootstrap-select.min.css')
    // icon font css
    link(rel='stylesheet', href='_saas/vendors/themify-icon/themify-icons.css')
    link(rel='stylesheet', href='_saas/vendors/font-awesome/css/all.css')
    link(rel='stylesheet', href='_saas/vendors/flaticon/flaticon.css')
    link(rel='stylesheet', href='_saas/vendors/animation/animate.css')
    link(rel='stylesheet', href='_saas/vendors/owl-carousel/assets/owl.carousel.min.css')
    link(rel='stylesheet', href='_saas/vendors/nice-select/nice-select.css')
    link(rel='stylesheet', href='_saas/vendors/animation/animate.css')
    link(rel='stylesheet', href='_saas/vendors/magnify-pop/magnific-popup.css')
    link(rel='stylesheet', href='_saas/vendors/elagent/style.css')
    link(rel='stylesheet', href='_saas/vendors/scroll/jquery.mCustomScrollbar.min.css')
    link(rel='stylesheet', href='_saas/css/style.css')
    link(rel='stylesheet', href='_saas/css/responsive.css')

    //- SASSY TEMPLATE CSS
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='elegant-icon/style.css')
    link(rel='stylesheet', href='simpleline-icon/css/simple-line-icons.css')
    link(rel='stylesheet', href='css/magnific-popup.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/preset.css')
    link(rel='stylesheet', href='css/scroll-animation.css')
    link(rel='stylesheet', href='css/custom.css')
    link(rel='stylesheet', href='css/theme-style.css')
    link(rel='stylesheet', href='css/responsive.css')



    link(rel='canonical', href='https://findcep.labunix.dev/index.html')
    // **WAIT*** TRADUCAO
    //link(rel='alternate', href='https://findcep.labunix.dev/en', hreflang='en')

    // Structured Data Organization  FindCEP
    script(type='application/ld+json').
      {"@context": "http:\\/\/schema.org","@type": "Organization","url": "http:\/\/www.findcep.com","logo": "http://www.findcep.com/img/icone-findcep.png", "sameAs": ["https://www.facebook.com/findcep/","https://twitter.com/findcep"],"contactPoint": [{"@type": "ContactPoint","telephone": "+55-11-98059-7677","contactType": "sales","areaServed": "BR","availableLanguage": ["Portuguese","English"]}]}
    script(type='application/ld+json').
      {"@context":"http:\\/\/schema.org","@type":"WebSite","url":"http:\/\/www.findcep.com\/","name":"Find CEP"}
  body#home(data-spy='scroll', data-target='.navbar', data-offset='94')
    nav.navbar.navbar-fixed-top.new_header
      .container.custome_container
        .row.br
          .col-md-12
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand.ex(href='https://www.findcep.com/')
                img.main-logo(style='', src='images/sassy_white.png', alt='Home')
                img.logo-blue(src='images/sassy_black.png', alt='Home')
              // Get-Now-Button
              a.btn-getnow.new_btn(href='#') Try for free
            #myNavbar.collapse.navbar-collapse.multi_page_menu_item
              ul#menu-one-page.nav.navbar-nav.navbar-right.multi
                li.menu-item.current_page_item.active
                  a(title='Home', href='#home') Por que FindCEP?
                li.menu-item
                  a(title='Pricing', href='#pricing') Planos e Preços
                li.menu-item
                  a(title='Services', href='#services') Services
                li.menu-item
                  a(title='Dashboard', href='#dashboard') Dashboard
                li.menu-item
                  a(title='Features', href='#features') Vantagens
                li.menu-item
                  a(title='Developer', href='//www.findcep.com/docs/index.html') Documentaçao
                li.menu-item
                  a(title='Contact', href='#contact') Contato
    section#newsletter.saas_newsletter_area
              .container
                .new_sectitle.br_none.pb_0
                  p.s_banner_title A
                  h1.s_banner_title API CEP
                  h2.s_banner_title
                    | sempre atualizada para seu negócio.&nbsp;
                    br
                    | Completa solução de localização de código postal  e endereços do BRASIL.
                form.n_subscription.saas_subscribe.findcep(method='get', novalidate='true', _lpchecked='1')
                  .form-group
                    input.form-control.mecep(name='CEP', type='number', placeholder='01001-000')
                  button(type='submit')
                    | FindCEP
                    i.fa.fa-paper-plane(aria-hidden='true')
                  p.fcep-errmessage(style='display: none;')
                  p.fcep-sucmessage(style='display: none;')
    section
      .container
        .row
          .saas_section_title.mb_70
            h2 O que o FindCEP oferece para seu negócio?
            p
              | Oferece&nbsp;
              h2 busca e tratamento de CEPs
            p
              | (Código Endereçamento Postal) e&nbsp;
              h2 Endereços para o seu negócio online.
    section.saas_dashboard_features
      .container
        .row.saas_features_info
          .col-md-4.col-sm-6.col-xs-12
            .saas_features_item
              .round_icon
                img(src='images/new/icon/d-f2.png', alt='')
              h3 Base de CEP atualizada
              p
                | Nossa base de CEPs é atualizada mensalmente e integrada automaticamente com os correios.
          .col-md-4.col-sm-6.col-xs-12
            .saas_features_item
              .round_icon
                img(src='images/new/icon/d-f4.png', alt='')
              h3 Taxa de Atualização
              p
                | A cada mês em media são atualizados cerca de 10 mil cep's para novas inclusões, atualização e remoções.
          .col-md-4.col-sm-6.col-xs-12
            .saas_features_item
              .round_icon
                img(src='images/new/icon/d-f3.png', alt='')
              h3 Códigos dos Municípios - IBGE
              p
                | Nossa base é sincronizada com a última versão da base disponibilizada pelo&nbsp;
                a(taget="noreferrer" href="https://www.ibge.gov.br/explica/codigos-dos-municipios.php") IBGE
                | , Incluindo corretamente os códigos dos distritos e sub-distritos.
          .col-md-4.col-sm-6.col-xs-12
            .saas_features_item
              .round_icon
                img(src='images/new/icon/d-f5.png', alt='Facilidade')
              h3 Integração Rápida
              p
                | A nossa API CEP é simples de usar, com fácil integracão, sem custo de setup e compatível com seu negócio.
          .col-md-4.col-sm-6.col-xs-12
            .saas_features_item
              .round_icon
                img(src='images/new/icon/d-f6.png', alt='Agilidade')
              h3 Experiência do Cliente
              p
                | Diminua o tempo de cadastro de seu cliente, com a API CEP o endereço é localizado em apenas 50ms.
          .col-md-4.col-sm-6.col-xs-12
            .saas_features_item
              .round_icon
                img(src='images/new/icon/d-f1.png', alt='Confiabilidade')
              h3 Taxa de Sucesso
              p
                | O FindCEP entrega milhares de CEP's simultaneamente com&nbsp;
                a(target="noreferrer" href="https://uptime.is/99.99") 99.99% de disponibilidade.
    section#dashboard.saas_about_area
      a.scroll_btn(href='#')
        i
      .saas-about-item
        svg.svg_left(xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', opacity='0.051', fill='rgb(132, 96, 255)', d='M0.991,565.754 C0.991,565.754 104.446,356.774 349.357,369.332 C634.530,383.954 961.000,485.740 961.000,485.740 L1041.000,443.742 C1041.000,443.742 668.745,74.010 402.657,17.699 C165.398,-32.511 0.991,39.999 0.991,39.999 L0.991,565.754 Z')
          path(fill-rule='evenodd', opacity='0.051', fill='rgb(132, 96, 255)', d='M0.960,145.000 C0.960,145.000 164.420,63.922 409.339,51.356 C694.520,36.723 1011.000,124.999 1011.000,124.999 L881.000,226.999 C881.000,226.999 666.711,195.848 404.006,290.522 C162.591,377.523 0.960,780.999 0.960,780.999 L0.960,145.000 Z')
        .w_50.side-img.text-right.pull-left.pb_50
          img.img_one(src='', alt='')
          img.img_two(src='', alt='')
        .container
          .row
            .col-md-5.col-md-offset-1
              .saas_about_content.text-left
                h2.saas_h2.mt_0 Works on all platforms
                p.n_title_p
                  | O FindCEP é a mais ágil e completa solução de localização de endereços nacionais diretamente integrada com os Correios que oferece
                  br
                  | Busca de CEPs e Endereços para o seu negócio online.
                a.saas_btn_two.n_them_btn(href='') Veja mais
      .saas-about-item.sass_a_item_two
        svg.svg_right(xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', opacity='0.051', fill='rgb(132, 96, 255)', d='M1039.977,215.245 C1039.977,215.245 936.526,424.225 691.622,411.667 C406.458,397.045 119.998,265.259 119.998,265.259 L-0.000,417.257 C-0.000,417.257 372.243,706.989 638.324,763.300 C875.576,813.509 1039.977,741.000 1039.977,741.000 L1039.977,215.245 Z')
          path(fill-rule='evenodd', opacity='0.051', fill='rgb(132, 96, 255)', d='M1040.009,636.000 C1040.009,636.000 876.554,717.076 631.642,729.643 C346.469,744.276 39.999,706.000 39.999,706.000 L179.995,573.999 C179.995,573.999 374.278,585.151 636.975,490.477 C878.382,403.475 1040.009,-0.000 1040.009,-0.000 L1040.009,636.000 Z')
        .w_50.side-img.text-left.pull-right.pb_140
          img.img_one(src='', alt='')
          img.img_two(src='', alt='')
        .container
          .row
            .col-md-5
              .saas_about_content.text-left
                h2.saas_h2.mt_0 Agilidade
                p.n_title_p
                  | Proporcione ao seu cliente, agilidade e facilidade, na criação de cadastros e contas no seu site, mitigue carrinhos abandonados e aumente a conversão.
                a.saas_btn_two.n_them_btn(href='') Saiba Mais
    section.saas_gallery_area
      .saas_section_title.mb_70
        h2 Nossos Clientes
        p
          | Até o momento mais de 50 milhões consultas
          br
          | foram realizadas com sucesso no FindCEP.
      .saas_screen_gallery.owl-carousel
        .item
          img(src='images/new/saas/screen1.jpg', alt='')
        .item
          img(src='images/new/saas/screen3.jpg', alt='')
        .item
          img(src='images/new/saas/screen2.jpg', alt='')
        .item
          img(src='images/new/saas/screen1.jpg', alt='')
        .item
          img(src='images/new/saas/screen3.jpg', alt='')
        .item
          img(src='images/new/saas/screen2.jpg', alt='')
        .item
          img(src='images/new/saas/screen1.jpg', alt='')
        .item
          img(src='images/new/saas/screen2.jpg', alt='')
    section#pricing.saas_priceing_area
      .container
        .saas_section_title.mb_70
          h2 Preços e Planos
          p
            | Solução que satisfazem desde pequenos negócios a grandes empresas.
            br
            | Temos planos especiais para qualquer consumo, solicite uma avaliação.
        .row.saas_priceing_info
          .col-md-4.col-sm-6.col-xs-12
            .saas_price_item
              img(src='images/new/icon/rocket-icon.png', alt='')
              h3 Starter
              .br
              ul.list_style
                li 1000 consultas grátis
                li 1 Site
                li
                  i.icon_close
                li
                  i.icon_close
                li
                  i.icon_close
              .price
                | R$0
                span por mes
                span + consultas extras: R$ 0.0059
              a.saas_btn_two(href='#') Comece Já
          .col-md-4.col-sm-6.col-xs-12
            .saas_price_item
              img(src='images/new/icon/award-icon.png', alt='')
              h3 Corporate
              .br
              ul.list_style
                li 100.000 consultas
                li 3 Sites
                li CDN
                li Suporte 24x7
                li
                  i.icon_close
              .price
                | R$249
                span por mes
                span + consultas extras: R$ 0.0025
              a.saas_btn_two(href='#') Teste Gratuitamente
          .col-md-4.col-sm-6.col-xs-12
            .saas_price_item
              img(src='images/new/icon/handshake.png', alt='')
              h3 Enterprise
              .br
              ul.list_style
                li 500.000 consultas
                li Sites: ilimitado
                li CDN
                li Suporte 24x7
                li SLA 99.9%
              .price
                | R$900
                span por mes
                span + consultas extras por R$ 0.0015

              a.saas_btn_two(href='#') Assine
    section#contact.saas_contact_area
      .container
        .saas_contact_info
          .row
            .col-md-6
              .saas-contact_info
                h3.s_contact_title Fale conosco!
                p
                  | Quer entender melhor como o FindCEP pode agregar ao seu negócio? Fale com nossos especialistas:
                .contact-info
                  .icon
                    img(src='images/new/icon/placeholder.png', alt='')
                  h3 Localização
                  p Avenida Professor Gioia Martins, 199 - São Paulo/SP
                .contact-info
                  .icon
                    img(src='images/new/icon/phone.png', alt='')
                  h3 Suporte Telefone
                  p
                    a(href='tel:+551129245573') (+55) 11 2924-5573
                    br
                  h3 Whatsapp
                  p
                    a(href='https://wa.me/5511980597677?lang=pt_br&*source=findcep' style="cursor: pointer;text-decoration: underline") iniciar uma conversa
                .contact-info
                  .icon
                    img(src='images/new/icon/icon.png', alt='')
                  h3 Suporte Email
                  p
                    a(href="mailto:atendimento@findcep.com?subject=[SUPORTE]") atendimento@findcep.com
            .col-md-6
              form.saas_contact_form(action='#', method='post')
                h3.s_contact_title deixe um comentário:
                .row
                  .col-md-6
                    .form-group
                      input.form-control.uName(name='name', type='text', placeholder='Nome')
                  .col-md-6
                    .form-group
                      input.form-control.uEmail(name='email', type='email', placeholder='Email')
                  .col-md-12
                    .form-group
                      input.form-control.uSubject(name='subject', type='text', placeholder='Assunto')
                  .col-md-12
                    .form-group
                      textarea.form-control.msg(name='message', placeholder='Menssagem')
                button.n_them_btn(type='submit') Enviar
    section#newsletter.saas_newsletter_area
      .container
        .new_sectitle.br_none.pb_0
          h2.n_title_color.mb_0 Entre na nossa Newletter
          p.n_title_p.mb_0
            | Atualizações e notícias com conteudos relevantes serão enviadas!
            br
            | Fique a par do que aconteçe com os CEP e Codigo IBGE.
        form.n_subscription.saas_subscribe.mailchimp(method='post', novalidate='true', _lpchecked='1')
          .form-group
            input.form-control.memail(name='EMAIL', type='email', placeholder='digite seu email')
          button(type='submit')
            | Inscreva
            i.fa.fa-paper-plane(aria-hidden='true')
          p.mchimp-errmessage(style='display: none;')
          p.mchimp-sucmessage(style='display: none;')
    footer.saas_footer_area
      .container
        .row
          .col-md-5.col-sm-6.col-xs-6
            .f_widget.about_widget
              a.f_logo(href='//www.findcep.com/')
                img(src='images/sassy_logo.png', alt='')
              p
                | Camara Quierati Tecnologia e Comunicacao LTDA
                br
                | FindCEP
              ul.f_social_icon
                li
                  a(href='#')
                    i.icon-social-facebook
                li
                  a(href='#')
                    i.icon-social-twitter
                li
                  a(href='#')
                    i.icon-social-instagram
                li
                  a(href='#')
                    i.icon-social-linkedin
                li
                  a(href='#')
                    i.icon-social-google
          .col-md-2.col-sm-6.col-xs-6
            .f_widget.link_widget
              h3.widget_title Company
              ul
                li
                  a(href='#') Home
                li
                  a(href='#') Features
                li
                  a(href='#') Screenshots
                li
                  a(href='#') Pricing
                li
                  a(href='#') Team
          .col-md-2.col-sm-6.col-xs-6
            .f_widget.link_widget
              h3.widget_title Help
              ul
                li
                  a(href='#') Help Center
                li
                  a(href='#') FAQ's
                li
                  a(href='#') Terms & Conditions
                li
                  a(href='#') Privacy
                li
                  a(href='#') Contacts
          .col-md-3.col-sm-6.col-xs-6
            .f_widget.link_widget.pd_l
              h3.widget_title Solutions
              ul
                li
                  a(href='#') Consumer
                li
                  a(href='#') Saas
                li
                  a(href='#') Infrastructure
                li
                  a(href='#') Privacy
                li
                  a(href='#') Financial Services
        .border_top
        p.copyright_text
          | Copyright© FindCEP 2016-2020 - Desing by,
          a(href='#') Droit Themes
    a.scrollup(href='#')
      i.fa.fa-arrow-up(aria-hidden='true')

    // SAAS JS TEMPLATE
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='_saas/js/jquery-3.2.1.min.js')
    script(src='_saas/js/propper.js')
    script(src='_saas/js/bootstrap.min.js')
    script(src='_saas/vendors/bootstrap-selector/js/bootstrap-select.min.js')
    script(src='_saas/vendors/wow/wow.min.js')
    script(src='_saas/vendors/sckroller/jquery.parallax-scroll.js')
    script(src='_saas/vendors/owl-carousel/owl.carousel.min.js')
    script(src='_saas/vendors/nice-select/jquery.nice-select.min.js')
    script(src='_saas/vendors/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='_saas/vendors/isotope/isotope-min.js')
    script(src='_saas/vendors/magnify-pop/jquery.magnific-popup.min.js')
    script(src='_saas/vendors/scroll/jquery.mCustomScrollbar.concat.min.js')
    script(src='_saas/vendors/slick/slick.min.js')
    script(src='_saas/js/plugins.js')
    script(src='_saas/js/main.js')



    // SASSY JS TEMPLATE
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')

    //disable
    //script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBumN1FxU0vF8HVI_qy9yFlwcZ4Wop_RtY')
    //script(src='js/jquery.waypoints.min.js')
    //script(src='js/jquery.magnific-popup.min.js')
    //script(src='js/custom-animations.js')
    //script(src='js/jquery.mixitup.js')

    //script(src='js/owl.carousel.min.js')
    script(src='js/plugins.js')
    script(src='js/gmap.js')
    script(src='js/parallax.js')
    script(src='js/theme.js')



    // FINDCEP JS
    script(src='js/plugin-findcep.js')
